* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#help-text {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
}

#rock {
    font-size: 20px;
    background-color: #ff0000;
}

#paper {
    font-size: 20px;
    background-color: #00ff;
}

#scissors {
    font-size: 20px;
    background-color: #00ff00;
}

